body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
}

.nav-center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 2rem;
}

.container {
    margin: 0 auto;
}

.btn-hero {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    transition: background-color 0.3s ease;
}
.btn-hero:hover {
    background-color: #4CAF50; 
    color: white; 
}

.container {
    background-color: black; 
    padding: 20px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    text-align: center;
    
}




h2 {
    color: white; 
    margin: 0; 
    margin-bottom: 30px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
